@import 'partial';

/*variables*/
$primaryColor: red;
$primayFont: "copperplate"; 

	body { 
		height: 500px;
		width: 1100px;
		padding: 20px;
	}
	
	nav {
		background-color: black;
		width: 200px;

		ul {
			list-style-type: square;
		}

		li {
			font-family: $primayFont;
			color: white;
		}
	}

	h1 {
		background: $primaryColor;
		text-align: center;
		font-family: $primayFont;
	}

	p {
		background: $primaryColor;
		font-family: $primayFont;
		width: 650px;
	}

	a {
		font-family: sans-serif;
	}

/*extend = @extend .body or @extend .p , etc */